@page
@model WebsiteApplication.Pages.FavoritesModel
@{
    ViewData["Title"] = "My favorites";

}
<link rel="stylesheet" href=@Url.Content("~/css/Catalogue.css" ) />

<h1>My favorites</h1>
<form method="post">
    @if(Model.UserID != null)
    {
        @if (Model.Favorites.Count == 0 || Model.Favorites is null)
        {
        <p>You dont have any favorites...</p>
        }
        <div class="parent">
            @foreach (var product in Model.Favorites)
            {
                <div class=" ProductItem">
                    <img src="@product.ProductImage" width="200" height="200" />
                    <a class="link" asp-page="/Overview" asp-route-id="@product.Id" data-replace="Info"><span>@product.Name</span></a>
                    <p class=" productPrice">@product.Price$</p>
                    <p class="productUnit">@product.Unit</p>
                <button class="RemoveFromFavorite btn btn-primary" name="id" type="submit" asp-page-handler="Remove" value="@product.Id">Remove</button>
                <a class="addToCart btn btn-primary" name="id" type="submit" asp-page="/Cart" asp-page-handler="Cart" asp-route-id="@product.Id">+ Add to cart</a>
            </div>
            <br>
            }
        </div>
    }
    else
    {
        <p>You are not logged in...</p>
    }
    
</form>