@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href=@Url.Content("~/css/Index.css" ) />
<div class="text-center">
    <h1>Welcome to our the online webshop</h1>
    <div class="loggedin">
        @if(Model.UserID != null)
        {
            <p>Welcome! Browse our catalogue and discover our most popular picks! </p>
        }
        else
        {
            <p>Oops, you are not logged in! You don't know what you are missing...</p>
        }
    </div>
    <div class="mostpopular">

    </div>
    <h2>Quickly go to</h2>
    <div class="quickaccessParent">
        <div class="quickaccess">
            <img src="/img/allproducts.jpg" width="300" height="200" />
            <p>All products</p>
            <button class="btn btn-primary" onclick="location.href='/Catalogue'">Go now</button>
        </div>
        <div class="quickaccess">
            <img src="/img/categoriespicture.jpg" width="300" height="200" />
            <p>All Categoies</p>
            <button class="btn btn-primary" onclick="location.href='/Allcategories'">Go now</button>
        </div>
        <div class="quickaccess">
            <img src="/img/favorite.png" width="300" height="200" />
            <p>Go to favorites</p>
            <button class="btn btn-primary" onclick="location.href='/Favorites'">Go now</button>
        </div>
    </div>
    <hr/>
    <h3>Peopple like to buy</h3>
    <div class="parent">
        @foreach (var product in Model.AdvertisementManager.GetMostPopularItems())
        {
            <div class="ProductItem">
                <img src="@product.ProductImage" width="200" height="200" />
                <a class="link" asp-page="/Overview" asp-route-id="@product.Id" data-replace="Info"><span>@product.Name</span></a>
                @if(@product.Discount == 0)
                {
                    <p class=" productPrice">@product.Price$</p>
                }
                else
                {
                    <p class=" productPrice">@product.Price$ - @product.Discount %</p>
                }
                <p class="productUnit">@product.Unit</p>
                <button class="addToFavorites btn btn-primary" type="submit" asp-page-handler="Favorite" asp-route-id="@product.Id"><img src="/img/favorite.png" width="25" height="25" /></button>
                <a class="addToCart btn btn-primary" name="id" type="submit" asp-page="/Cart" asp-page-handler="Cart" asp-route-id="@product.Id">+ Add to cart</a>
            </div>
        }
    </div>
    <hr/>
    <h3>These products at a discount</h3>
    <div class="parent">
        @foreach (var product in Model.AdvertisementManager.GetLeastPopularItems())
        {
            <div class="ProductItem">
                <img src="@product.ProductImage" width="200" height="200" />
                <a class="link" asp-page="/Overview" asp-route-id="@product.Id" data-replace="Info"><span>@product.Name</span></a>
                @if(@product.Discount == 0)
                {
                    <p class=" productPrice">@product.Price$</p>
                }
                else
                {
                    <p class=" productPrice">@product.Price$ - @product.Discount %</p>
                }               
                <p class="productUnit">@product.Unit</p>
                <button class="addToFavorites btn btn-primary" type="submit" asp-page-handler="Favorite" asp-route-id="@product.Id"><img src="/img/favorite.png" width="25" height="25" /></button>
                <a class="addToCart btn btn-primary" name="id" type="submit" asp-page="/Cart" asp-page-handler="Cart" asp-route-id="@product.Id">+ Add to cart</a>
            </div>
        }
    </div>
</div>
